/* ------------------------ */
/*        Universal         */
/* ------------------------ */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: bisque !important;
}

h1, h3 {
    text-align: center;
}


/* ------------------------ */
/*     FoodPlannerTable     */
/* ------------------------ */
.progress-div {
    background-color: white;
    border-radius: 10px;
    margin: 2vh 0;
}

@media screen and (max-width: 576px) {
    .progress-div {
        border-radius: 0px;
    }
}


/* ------------------------ */
/*        CategoryMenu      */
/*        MenuItems         */
/*        AddButton         */
/*      SelectedItems       */
/* ------------------------ */
.menu {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
}


/* ------------------------ */
/*        MenuItems         */
/* ------------------------ */
#menu-items {
    height: 110px;
    width: 170px; 
}

.add-btn {
    margin-top: 4vh;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .add-btn {
        margin-top: 2vh;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .add-btn {
        margin-top: 1vh;
    }
}


/* ------------------------ */
/*        AddButton         */
/* ------------------------ */
.button-space {
    margin-top: 7vh;
}
@media screen and (max-width: 576px) {
    .button-space {
        margin-top: 2vh;
    }
}


/* ------------------------ */
/*      SelectedItems       */
/* ------------------------ */
#selected-items {
    height: 200px;
    width: 170px;   
}


/* ------------------------ */
/*       ProgressBar        */
/* ------------------------ */
.progress-bar {
    padding: 2vh 0;
}

.bar {
    margin-top: 1vh;
}


/* ------------------------ */
/*      SingleFoodLabel     */
/* ------------------------ */
.no-form {
    margin: auto;
    text-align: center;
}

/* TotalFoodLabel */
.form {
    border: 4px solid black;
    margin: auto;
    padding: 1vw;
    background-color: white;
}
@media screen and (min-width: 1400px) {
    .form {
        width: 30vw;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .form {
        width: 30vw;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .form {
        width: 37vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .form {
        width: 50vw;
    }
    .form-btm {
        margin-bottom: 3vh;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .form {
        width: 70vw;
    }
    .form-btm {
        margin-bottom: 5vh;
    }
}
@media screen and (max-width: 576px) {
    .form {
        width: 90vw;
        border: 6px solid black;
        
    }
    .form-btm {
        margin-bottom: 5vh;
    }
}


/* TotalFoodLabel */
.thin-line {
    height: 2px;
    background-color: rgb(115, 115, 115);
}

/* TotalFoodLabel */
#small-font {
    font-size: 0.8em !important;
}

/* TotalFoodLabel */
label {
    padding: 1vw 0;
    font-size: 1.1rem;
}

/* TotalFoodLabel */
.big-font {
    font-size: 1.8rem !important; /*override bootstrap*/
    font-weight: bold;
}

/* TotalFoodLabel */
.seperator {
    width: 100%;
    height: 5px;
    background-color: black;
}

/* TotalFoodLabel */
.bold {
    font-weight: bold;
}

/* TotalFoodLabel */
.btm-border {
    border-bottom: 2px solid rgb(115, 115, 115) !important;
    line-height: 50%;
}
@media screen and (max-width: 576px) {
    .btm-border {
        line-height: 100%;
    }
}

.line {
    display: flex;
    flex-direction: row;
}

.grams {
    margin: 1vh 0;
}

.measurement {
    margin-left: 1vh;
}

/* TotalFoodLabel */
.italics {
    font-style: italic;
}


/* ------------------------ */
/*      TotalFoodLabel      */
/* ------------------------ */
.highlight {
    background-color: rgb(234, 227, 93);
}


/* ------------------------ */
/*        For testing       */
/* ------------------------ */
.color1 {
    background-color: cadetblue !important;
}

.color2 {
    background-color: mediumvioletred !important;
}

.color3 {
    background-color: sandybrown !important;
}

.color4 {
    background-color: lightgreen !important;
}